<div class="card mt-4">
  <div class="card-header">
    <h4 style="display: inline-block;">Manage Employees</h4>
    <span style="float: right;">
      <button pButton (click)="showModalDialog()" type="button" label="Add Employee" class="p-button-help">
        <i class="fa fa-user-plus mr-2"></i>
      </button>
    </span>
  </div>
</div>

                                              <!-- Manage Employee -->

<div class="card">
  <p-dataView #dv [value]="empData" [paginator]="true" [rows]="4" filterBy="firstName">
      <ng-template pTemplate="header">
          <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
              <div class="p-input-icon-left p-mb-2 p-mb-md-0 searchSpan">
                  <i class="pi pi-search"></i>
                  <input class="searchBar"
                  type="search" pInputText placeholder="Search by First Name" (input)="dv.filter($event.target.value)">
              </div>
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
      </ng-template>
      <ng-template let-emp pTemplate="listItem">
        <div class="p-col-12">
          <div class="product-list-item">
              <img class="listImage" [src]="'../../assets/images/user.png'" [alt]="emp.firstName"/>
              <div class="product-list-detail">
                  <div class="product-name"><h4>{{emp.firstName}} {{emp.lastName}}</h4></div>
                  <div class="product-description"><h6>{{emp.vehMode}}</h6></div>
                  <div class="product-description">{{emp.mobile}}</div>
              </div>
              <div class="product-list-action">
                  <button pTooltip="Edit {{emp.firstName+' '+emp.lastName}}" escape="false" tooltipPosition="left"
                  pButton pRipple label=" " (click)="editEmp(emp.empId)" style="margin-bottom: 5px;"
                  class="btn btn-success py-2 px-2"><i class="fa fa-pencil"></i></button>

                  <button pTooltip="Delete {{emp.firstName+' '+emp.lastName}}" escape="false" tooltipPosition="left"
                  pButton pRipple label=" " (click)="confirmDelete(emp.empId)" class="btn btn-danger py-2 px-2">
                  <i class="fa fa-trash"></i></button>
              </div>
          </div>
      </div>
    </ng-template>
    <ng-template let-emp pTemplate="gridItem">
      <div class="p-col-12 p-md-3">
        <div class="product-grid-item card">
            <div class="product-grid-item-top">
                <div>
                    <i class="pi pi-tag product-category-icon mr-2"></i>
                    <span class="product-category">{{emp.vehMode}}</span>
                </div>
            </div>
            <div class="product-grid-item-content">
              <img class="gridImage" [src]="'../../assets/images/user.png'" [alt]="emp.firstName"/>
              <div class="product-description"><h5>{{emp.firstName}} {{emp.lastName}}</h5></div>
              <div class="product-description">{{emp.mobile}}</div>
            </div>
            <div class="product-grid-item-bottom">
                <button pButton pRipple label=" " pTooltip="Edit {{emp.firstName+' '+emp.lastName}}" escape="false"
                tooltipPosition="bottom" (click)="editEmp(emp.empId)" style="margin-bottom: 5px;"
                class="btn btn-success py-2 px-2"><i class="fa fa-pencil"></i></button>

                <button pButton pRipple label=" " pTooltip="Delete {{emp.firstName+' '+emp.lastName}}" escape="false"
                tooltipPosition="bottom"  (click)="confirmDelete(emp.empId)" class="btn btn-danger py-2 px-2">
                <i class="fa fa-trash"></i></button>
            </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

                                                    <!-- Add Employee -->

<p-dialog header="Add Employee" [(visible)]="display" [modal]="true" [style]="{width: '70vw'}" [baseZIndex]="1"
  [draggable]="false" [resizable]="false">
  <p-fieldset legend="Fill the details below">
    <div class="row mx-0">
      <div class="col-md-6 col-sm-12 p-2">
          <span>Vehicle Type: </span>
          <form [formGroup]="empDataForm" (ngSubmit)="onSubmit()">
            <p-selectButton [options]="vehTypes" [(ngModel)]="selectedVeh" optionLabel="name"
            formControlName="vehMode" [ngClass]="{ 'is-invalid': submitted && f.vehMode.errors }">
              <ng-template let-item>
                  <div>
                    <i style="margin-right: 10px" class={{item.value.icon}}></i>
                    <span>{{item.value.name}}</span>
                  </div>
              </ng-template>
            </p-selectButton>
            <div *ngIf="submitted && f.vehMode.errors" class="invalid-feedback">
              <div *ngIf="f.vehMode.errors.required">Vehicle Type is required</div>
          </div>
          </form>
      </div>
    </div>
    <div class="row mx-0">
      <div class="col-sm-12 p-2">
        <form [formGroup]="empDataForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
              <div class="form-group col-4">
                  <label>First Name *</label>
                  <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">First Name is required</div>
                  </div>
              </div>
              <div class="form-group col-4">
                  <label>Last Name *</label>
                  <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                  </div>
              </div>
              <div class="form-group col">
                <label>Mobile *</label>
                <input type="number" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" maxlength="10" minlength="10" />
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                    <div *ngIf="f.mobile.errors.required">Mobile no. is required</div>
                    <div *ngIf="f.mobile.errors.pattern">Mobile no must contain 10 digits</div>
                </div>
              </div>
          </div>
          <div class="form-row">
            <div class="form-group col-4">
              <label>Address Line 1*</label>
              <input type="text" formControlName="address1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address1.errors }" />
              <div *ngIf="submitted && f.address1.errors" class="invalid-feedback">
                  <div *ngIf="f.address1.errors.required">Address is required</div>
              </div>
            </div>
            <div class="form-group col-4">
              <label>Address Line 2</label>
              <input type="text" formControlName="address2" class="form-control" />
            </div>
            <div class="form-group col-4">
              <label>Email *</label>
              <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
          </div>
          <div>
              <button style="float: right" class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
              <button style="float: right" class="btn btn-success mr-1" type="submit"
              pButton pRipple label="Submit" ></button>
          </div>
        </form>
      </div>
    </div>
  </p-fieldset>
</p-dialog>

                                                        <!-- Added Succesfully -->

<p-toast position="top-center" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <span style="display: inline;"><i class="pi pi-paperclip mr-2" style="font-size: 1rem"></i><h4>{{message.summary}}</h4></span>
              <p>{{message.detail}}</p>
          </div>
      </div>
    </ng-template>
</p-toast>

                                                      <!-- Deleted Successfully -->

<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
      <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
