<!-- <div class="card mt-4">
  <h4 class="card-header">Home</h4>
  <div class="card-body">
      <p>You're logged in with Angular 9 & JWT!!</p>
      <p>Your role is: <strong>{{user.role}}</strong>.</p>
      <p>This page can be accessed by <u>all authenticated users</u>.</p>
      <p class="mb-1">Current user from secure api end point:</p>
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <ul *ngIf="userFromApi">
          <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
      </ul>
  </div>
</div> -->
<div>
  <div class="card mt-4">
    <h4 class="card-header">Dashboard - {{user.lastName}}</h4>
    <div class="card-body" *ngIf="user.role == 'User'">
        <!-- <p>You're logged in with Angular 9 & JWT!!</p>
        <p>Your role is: <strong>{{user.role}}</strong>.</p>
        <p>This page can be accessed by <u>all authenticated users</u>.</p>
        <p class="mb-1">Current user from secure api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
        </ul> -->
        <app-userdash></app-userdash>
    </div>
    <div class="card-body" *ngIf="user.role == 'Admin'">
      <app-admindash></app-admindash>
      <!-- <p>You're logged in with Angular 9 & JWT!!</p>
      <p>Your role is: <strong>{{user.role}}</strong>.</p>
      <p>This page can be accessed by <u>all authenticated users</u>.</p>
      <p class="mb-1">Current user from secure api end point:</p>
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <ul *ngIf="userFromApi">
          <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
      </ul> -->
    </div>
    <div class="card-body" *ngIf="user.role == 'Employee'">
      <app-empdash></app-empdash>
      <!-- <p>You're logged in with Angular 9 & JWT!!</p>
      <p>Your role is: <strong>{{user.role}}</strong>.</p>
      <p>This page can be accessed by <u>all authenticated users</u>.</p>
      <p class="mb-1">Current user from secure api end point:</p>
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <ul *ngIf="userFromApi">
          <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
      </ul> -->
    </div>
  </div>
</div>
